jni/application/Debug/
jni/cocos2dx/Debug/
jni/glew/Debug/
jni/jpeg/Debug/
jni/png/Debug/
jni/pthread/Debug/
jni/zlib/Debug/

jni/application/Release/
jni/cocos2dx/Release/
jni/glew/Release/
jni/jpeg/Release/
jni/png/Release/
jni/pthread/Release/
jni/zlib/Release/

*.ncb
*.opt
*.plg


# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

Thumbs.db
thumbs.db
